
@font-face {
    font-family: 'YekanBakhVF';
    src: url("../static/fonts/YekanBakh-VF.ttf") format('truetype');
    /* Add additional font formats (e.g., woff, woff2) if needed */
  }
  body {
    font-family: 'YekanBakhVF', sans-serif;
    direction: rtl;
    background-color: #F6F8FA;
  }
  .primary-txt{
    color: #576165;
  }
  .fs-14{
    font-size: 14px;
  }
  .fs-16{
    font-size: 16px;
  }
  .primary-btn{
    background:linear-gradient(91deg, #FF5252 -4.29%, #FF9270 100%);
  }
  .main-btn{
    border-radius: 8px;
    border: none;
  }

  .add-btn{
    background: #3DF0BA;
  }
  .hover-btn {
    background: #3A3A3A;
  }
  .remove-btn{
    background:#FF5A5A;
  }
